@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;700&family=Karla:wght@500;800&family=Poppins:wght@400;700&display=swap");
:root {
  --main-color: rgb(59, 78, 105);
}

body {
  margin: 0;
  font-family: "Karla";
}

.header {
  background-color: aliceblue;
  height: 3em;
}
.header img {
  width: 1.5em;
  cursor: pointer;
}
.header p {
  display: inline;
  padding: 1em;
}
.header .container {
  display: flex;
  place-content: space-between;
  padding-top: 0.5em;
}
.header .container .second-head > * {
  margin-right: 2em;
}

.navbar {
  margin-top: 3em;
  display: flex;
  justify-content: center;
}
.navbar img {
  width: 1.5em;
  cursor: pointer;
  margin-left: 5em;
}
.navbar img:hover {
  transform: rotate(50deg);
}
.navbar .logo {
  font-weight: bolder;
  font-size: 4em;
  margin-right: 0.5em;
}
.navbar .logo:hover {
  text-decoration: none;
  transform: rotate(-5deg);
}
.navbar .container {
  display: flex;
  justify-content: center;
}
.navbar .container .menu {
  display: flex;
  justify-content: center;
}
.navbar a {
  text-decoration: none;
  cursor: pointer;
  color: var(--main-color);
}
.navbar a:hover {
  text-decoration: underline;
}
.navbar ul {
  justify-content: center;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 2em;
  text-align: center;
}
.navbar ul li {
  font-weight: bold;
  margin: 0 1em;
}

.hero {
  justify-content: center;
  color: whitesmoke;
  position: relative;
  background: url("../Images/bg2.jpg") no-repeat center center;
  filter: brightness(80%);
  height: 100vh;
}
.hero .overlay-text {
  text-align: center;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  padding: 0 3em;
}
.hero .overlay-text h1 {
  font-size: 5em;
  font-weight: 500;
}
.hero .overlay-text p {
  font-size: 1.3em;
}

.btn {
  font-size: 1em;
  background-color: rgb(154, 218, 218);
  font-weight: bold;
  display: inline-block;
  padding: 0.8em 2em;
  border-radius: 0.2em;
  margin-top: 2em;
}
.btn:hover {
  color: white;
  background-color: rgb(8, 209, 209);
  border-color: none;
}

.info {
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 4em 0;
}
.info h2 {
  font-size: 4em;
}
.info p {
  margin: 0;
  font-size: 1.5em;
}

.small-heading {
  color: var(--main-color);
  text-align: center;
  padding: 5em 15em;
}
.small-heading h2 {
  font-weight: bold;
  font-size: 3em;
}
.small-heading p {
  margin: 0;
  font-size: 1.3em;
}

.end-heading {
  padding: 5em 15em 0 15em;
}

.features {
  height: 20em;
}
.features .container {
  display: flex;
  gap: 2em;
}
.features .container .first,
.features .container .second,
.features .container .third {
  display: flex;
  gap: 1em;
}
.features .container .first h3,
.features .container .second h3,
.features .container .third h3 {
  font-weight: bold;
}
.features .container img {
  width: 3.5em;
}

.latest-work {
  background-color: rgb(239, 252, 252);
  padding-bottom: 5em;
}
.latest-work .cards {
  color: var(--main-color);
  display: flex;
  justify-content: space-around;
}
.latest-work .cards .card {
  margin: 3em 3em;
  width: 36em;
}
.latest-work .cards .card:hover {
  transform: scale(105%);
}
.latest-work .cards .card h5 {
  font-weight: bold;
}

.card-slider {
  margin: auto;
}

.owl-slider {
  margin: auto;
  width: 90%;
}
.owl-dots button.owl-dot {
  border: 1px solid black;
}

.owl-nav button {
  position: absolute;
  top: 50%;
  background-color: #000;
  color: #fff;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.owl-nav button.owl-prev {
  left: 0;
}

.owl-nav button.owl-next {
  right: 0;
}

.owl-dots {
  text-align: center;
  padding-top: 15px;
}

.owl-dots button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 3px;
}

.owl-dots button.owl-dot.active {
  background-color: #000;
}

.owl-dots button.owl-dot:focus {
  outline: none;
}

.owl-nav button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.38) !important;
}

span {
  display: none;
  font-size: 70px;
  position: relative;
  top: -5px;
}

.owl-nav button:focus {
  outline: none;
}

.work {
  text-align: center;
  margin-bottom: 3em;
  padding: 5em 8em;
}

.footer {
  background-color: rgb(8, 65, 65);
  color: white;
}
.footer .container {
  display: flex;
  padding-top: 1.5em;
}
.footer .container > * {
  width: 20em;
  padding: 1em;
}
.footer .heading a {
  color: white;
  text-decoration: none;
}
.footer .heading h1 {
  font-weight: bold;
}
.footer ul {
  padding-left: 0;
}
.footer ul li {
  padding: 0;
  color: white;
  list-style: none;
}
.footer ul li img {
  width: 1em;
  float: left;
  margin-right: 0.5em;
}
.footer .works img {
  width: 70%;
}
.footer .works h3 {
  display: inline;
}
.footer .form {
  background-color: rgb(61, 83, 92);
  padding: 0.3em;
  display: flex;
  border-radius: 2px;
  position: relative;
}
.footer .form .email {
  color: white;
  border: none;
  background-color: rgb(61, 83, 92);
}
.footer .form .submit {
  position: absolute;
  left: 12em;
  color: white;
  border: none;
  background-color: rgb(8, 138, 95);
}
.footer .form .submit:hover {
  color: rgb(8, 138, 95);
  background-color: white;
}

footer {
  background-color: rgb(11, 102, 102);
  color: white;
  height: 4em;
}
footer .container {
  display: flex;
  gap: 10em;
  align-items: center;
}
footer .container .second-foot ul {
  margin: 0;
  display: flex;
  gap: 2em;
}
footer .container .second-foot ul li:first-child {
  list-style: none;
}
footer .container .second-foot ul li a {
  text-decoration: none;
  color: white;
}
footer .third-foot {
  float: right;
  background-color: rgb(6, 134, 134);
  width: 4em;
  height: 2em;
  text-align: center;
  margin-right: 2em;
}
footer .third-foot a {
  color: white;
  text-decoration: none;
}

.mobile-menu,
.mobile-menu-exit {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .header {
    font-size: 1em;
    height: 2.5em;
  }
  .header img {
    width: 1.2em;
  }
  .header p {
    padding: 1em;
  }
  .navbar .container {
    padding: 0;
  }
  .navbar .container img {
    margin-left: 0em;
  }
  .features {
    height: 25em;
  }
  .footer .container > * {
    padding: 1em;
  }
  .footer .form {
    font-size: 0.8em;
  }
  .footer .form .submit {
    left: 10.3em;
  }
  .end-heading {
    padding: 5em 0em 0 0em;
  }
  footer .container {
    gap: 2em;
  }
}
@media only screen and (max-width: 991px) {
  .small-heading {
    color: var(--main-color);
    text-align: center;
    padding: 5em 5em;
  }
  .features {
    height: 50em;
  }
  .features .container {
    flex-direction: column;
  }
  .features .container > * {
    padding: 2em;
  }
  .work {
    padding: 2em 0em;
  }
  .work .btn {
    margin-top: 0em;
  }
  .footer .container {
    display: flex;
    padding-top: 1.5em;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }
  .footer .container > * {
    margin-bottom: 1em;
    padding: 0;
    display: inline-block;
  }
  .footer .form {
    font-size: 0.8em;
    width: 17em;
  }
  .footer .form .submit {
    left: 10.3em;
  }
  footer {
    font-size: 9px;
  }
  footer .container .third-foot {
    padding: 0 1em;
  }
}
@media only screen and (max-width: 767px) {
  .header {
    font-size: 12px;
    height: 2.5em;
  }
  .navbar .logo {
    margin: 0;
  }
  .navbar .container nav ul {
    padding: 2em 0;
  }
  .navbar .container nav ul li a {
    font-size: 8px;
  }
  .work {
    padding: 2em 0em;
  }
  .work .btn {
    margin-top: 0em;
  }
  .small-heading h2 {
    font-size: 2em;
  }
  .small-heading p {
    font-size: 0.7em;
  }
  .features {
    height: 57em;
  }
  .footer .container > * {
    margin-bottom: 1em;
    padding: 0;
    display: inline-block;
  }
  footer {
    height: 6em;
  }
  footer .container {
    padding-top: 1em;
    display: block;
  }
  footer .container ul {
    margin-top: 1em;
    padding-left: 0;
  }
}
@media only screen and (max-width: 500px) {
  .header {
    font-size: 10px;
    height: 3em;
  }
  .header .container {
    padding-top: 0.6em;
  }
  .navbar {
    margin: 1em;
  }
  .navbar .container {
    position: relative;
  }
  .navbar .container .logo {
    font-size: 3em;
  }
  .navbar .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30em;
  }
  .navbar .menu ul {
    display: block;
  }
  .hero .overlay-text h1 {
    font-size: 3em;
  }
  .hero .overlay-text p {
    font-size: 1em;
  }
  .small-heading {
    padding: 5em 2em;
  }
  .features {
    height: 65em;
  }
  .footer .form .submit {
    left: 13.5em;
  }
  .footer .form {
    width: 20em;
  }
  footer {
    height: 28em;
  }
  footer .container {
    flex-direction: column;
  }
  footer .container ul {
    flex-direction: column;
  }
  footer .container ul li {
    list-style: none;
  }
}
@media only screen and (max-width: 447px) {
  .latest-work .cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .latest-work .cards .card {
    margin: 1em 0;
    width: 20em;
  }
  .features {
    height: 75em;
  }
  .mobile-menu,
  .mobile-menu-exit {
    display: block;
  }
  .navbar .container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .navbar .container .menu {
    display: block;
    width: auto;
  }
  .navbar li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 0.5em;
    font-size: 1.3em;
    text-align: right;
  }
  .navbar li a:hover {
    font-weight: bold;
  }
  nav {
    position: fixed;
    z-index: 999;
    background-color: #20272E;
    left: 0;
    top: 0;
    width: 66%;
    height: 100vh;
    padding: 1em;
  }
  nav ul.primary-nav {
    margin-top: 5em;
  }
  .mobile-menu-exit {
    float: left;
    margin: 0.5em;
    cursor: pointer;
  }
  nav {
    display: none;
  }
  nav.mobile-menu {
    display: block;
  }
}
@media only screen and (max-width: 410px) {
  .features {
    height: 75em;
  }
  .footer .container .second-foot {
    font-size: 0.9em;
  }
}/*# sourceMappingURL=main.css.map */